<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <%= render "layouts/navigation/header" %>
      </div>
      <div class="col-sm-5">
        <%= render "layouts/navigation/collapsible_elements" %>
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <!-- Collect the nav links, forms, and other content for toggling -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>